@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Mali", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 5rem;
  grid-auto-flow: row;
  flex-direction: column;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: grid;
}
img {
  width: 100%;
}

main {
  grid-area: main;
  padding: 3rem;
}

ul {
  padding: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

footer {
  grid-area: footer;
  background-color: rgb(55, 54, 54);
  color: white;
  display: grid;
  place-items: center;
}

#container {
  padding: 1rem;
}

.buttOptions {
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  border-color: black;
  font-family: "Mali", Arial, Helvetica, sans-serif;
  color: white;
  box-shadow: rgba(191, 77, 228, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 100%;
  width: 100%;
}

.score-count {
  background-color: rgb(32, 32, 32);
  border-radius: 30% 30%;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  font-family: "Mali", Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.correct {
  background-color: rgb(131, 235, 131);
}

.incorrect {
  background-color: rgb(253, 94, 94);
}

.finalScore {
  text-align: center;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  ul {
    grid-template-columns: 1fr;
  }
}
