@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Mali", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  height: 1fr;
}

main {
  grid-area: main;
  height: 1fr;
}

footer {
  grid-area: footer;
  background-color: rgb(55, 54, 54);
  color: white;
}

footer > p {
  margin-top: 4rem;
}

#container {
  padding: 1rem;
}

.buttOptions {
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  border-color: black;
  font-family: "Mali", Arial, Helvetica, sans-serif;
  color: white;
  box-shadow: rgba(191, 77, 228, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.score-count {
  background-color: rgb(32, 32, 32);
  border-radius: 30% 30%;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  font-family: "Mali", Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Falta hacerlo responsive */
