* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#container p {
  text-align: center;
}

#buttOptions {
  padding: 1rem;
}

#next-button {
  padding: 1rem;
}

/* No se aplican los estiloooos */
